<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<style type="text/css">

img {
  filter: grayscale("50%");
}

  td {
    text-align: center;
  }g

table {

  background-color:#9B855B;
}

  img {
    filter: grayscale(100%);
  }
 </style>
 </head>
 </html>
